/* START GENERAL RULES */
html {

  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;

}


.wrapper {

  background-color: green;
  width: 100%;
  height: 100vh;

}


li {

  list-style: none;

}


h2, h4, h5 {

  color: white;

}


p {

  color: grey;

}
/* END GENERAL RULES */


/* START MAIN */
main {

  background-color: black;
  width: 100%;
  height: calc(100% - 80px);
  z-index: 0;

}


main li:hover {

  color: white;

}


/* start sidebar */
/** inizio generali **/
.sidebar {

  background-color: black;
  width: 225px;
  height: 100%;
  float: left;
  overflow: hidden;

}


.sidebar .nav p:hover {

  color: white;

}


.sidebar .nav:not(.menu) {

  padding-left: 15px;

}


.sidebar li {

  font-size: 0.8em;
  color: grey;

}
/** fine generali **/


.sidebar .nav.logo {

  height: 70px;
  line-height: 95px;           /* NOTE: perche non 70px?? */
  width: 150px;

}


/** inizio menu **/
.sidebar .nav.menu {

  height: 100px;
	margin-bottom: 20px;
	margin-top: 2.5px;

}


.sidebar .nav.menu li {

  padding: 7.5px 0px 7.5px 45px;
  margin-bottom: 2.5px;
  position: relative;

}


.sidebar .nav.menu li:first-child {

  border-left: 4px solid lightgreen;
  padding-left: 41px;
  color: white;

}


.sidebar .nav.menu img.selected {

  left: 11px;

}


.sidebar .nav.menu img {

	height: 25px;
	position: absolute;
	bottom: 3px;
  left: 15px;

}
/** fine menu **/


/** inizio playlist **/
.sidebar .nav.playlists {

  height: calc(100% - 260px);       /* NOTE: perche non -240px?? */
  min-height: 70px;
  overflow-y: auto;

}


.sidebar .nav.playlists p {

	font-size: 0.9em;

}


.sidebar .nav.playlists p i {

	padding: 7.5px;
	margin: 7.5px 5px 7.5px 0px;
  background-color: grey;
  color: black;
  font-size: 15px;

}


.sidebar .nav.playlists p:hover i {

  background-color: white;

}


.sidebar .nav.playlists li {

  margin-top: 10px;
  margin-bottom: 15px;

}
/** fine  playlist **/


/** inizio footerino **/

.sidebar .nav.footer {

  height: 70px;
  margin-right: 15px;

}


.sidebar .nav.footer p {

  border-bottom: 1px solid grey;
  font-size: 0.8em;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-bottom: 6px

}


.sidebar .nav.footer img.download {

  float: left;
  width: 17px;
  margin-right: 12px;
  margin-left: 2.5px;
  margin-bottom: -1px;

}


.sidebar .nav.footer img.profile {

  float: left;
  width: 23px;
  height: 23px;
  margin-right: 12.5px;
  margin-left: 5px;
  background-color: grey;
  border-radius: 50%;

}


.sidebar .nav.footer h5 {

  padding-top: 5px;

}
/** fine footerino **/
/* end sidebar */


/* start content area */
/** start box content **/
.box-content {

  background-color: #141922;
  width: calc(100% - 225px);
  height: 100%;
  float: left;
  overflow-y: auto;
  position: relative;

}
/** end box content **/


/** start banner **/
.banner {

  background-color: rgba(0, 0, 0, 0.4);
  width: inherit;
  height: 80px;
  position: fixed;
  z-index: 1;

}


.banner .button {

  padding: 10px 40px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-size: 0.7em;
  float: right;
  position: relative;
  transform: translate(-5%, -50%);
  top: 50%;

}


.banner .button:hover {

  font-size: 0.8em;        /* NOTE: non scala correttamente!  */

}
/** end banner **/


/** start content **/
.container {

  margin-left: 0;
  margin-right: -10px;

}


[class*="col-"] {

  padding-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;

}


.content {

  padding: 70px 20px 20px 20px;

}
/** end content **/


/** start contents list **/
.contents-list {

  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;

}


.contents-list li {

  display: inline-block;
  color: grey;
  font-size: 0.9em;
  margin-right: 15px;
  margin-bottom: 30px;
  position: relative;

}


.contents-list li:first-child:after {

  position: absolute;
  background-color: lightgreen;
  content:"";
  height: 2px;
  width: 40%;
  transform: translateX(-50%);
  bottom: -4px;
  left: 50%;

}
/** end contents list **/


/** start sections **/
section:first-of-type {

  padding-top: 10px;

}


section:not(:first-of-type) {

  padding-top: 45px;

}


section h5 {

  margin-top: 10px;

}


section p {

	font-size: 0.7em;
	margin-top: 5px;

}


.caption {

  text-align: center;

}


.cover {

  position: relative;

}


.img-cover {

  width: 100%;
  display: block;
  opacity: 1;
  transition: 0.1s ease;

}


.cover:hover .img-cover {

  opacity: 0.3;

}


.play-button {

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.1s ease;

  /* width: 100%;
  height: 100%; */

}


.play-button .far.fa-play-circle {

  color: white;
  font-size: 500%;              /* NOTE: perche non si adatta?? */

}


.cover:hover .play-button {

  opacity: 1;

}


.popular-artist .img-cover {

  border-radius: 50%;

}
/** end sections **/
/* end content area */
/* END MAIN */


/* START FOOTER */
footer {

  background-color: #282828;
  color: white;
  width: 100%;
  height: 80px;

  padding-top: 5px;                  /* NOTE: perche mi serve questo padding?? */

  display: flex;
  justify-content: space-between;
  align-items: center;

}


footer h6 {

  font-size: 0.8em

}


footer p {

  font-size: 0.7em

}


footer
p:hover,
i:hover {

  color: white;

}


.current-track {

  height: 40px;

}


.current-track img {

  height: 100%;
  float: left;

}


.current-track .current-caption {

  height: 100%;
  padding-left: 10px;
  padding-top: 5px;
  margin-right: 15px;
  float: left;

}


.current-track .saves {

  height: 100%;
  line-height: 40px;
  color: grey;
  float: left;

}


.current-track .saves i {

  padding-left: 20px;

}


.controller {


  width: 33%;

  text-align: center;
  position: relative;

}


.controller .buttons {

  font-size: 15px;
  padding-bottom: 30px;

}


.controller .buttons i {

  margin: 0px 5px 0px 5px;

}


.controller .buttons .fa-play-circle {

  font-size: 25px;
  margin: 0px 20px 0px 20px;
  vertical-align: sub;

}


.controller .buttons::after {

	position: absolute;
	background-color: white;
	content: "";
	height: 3px;
	width: 80%;
	transform: translateX(-50%);
	bottom: 15px;
	left: 50%;

}
/* END FOOTER */


/* START MEDIAQUERY */
@media all and (max-width: 768px)  {


  /* start small-sidebar */
  .small-sidebar {

    background-color: black;
    width: 55px;
    height: 100%;
    float: left;
    padding: 7.5px 15px 12.5px 15px;
    display: flex;
    flex-direction: column;

  }


  .small-sidebar img:not(:last-child) {

    margin-bottom: 12.5px;

  }


  .small-sidebar img.download {

    width: 17px;
    margin-top: auto;
    margin-left: 2px;
    margin-bottom: 10px;

  }


  .small-sidebar img.profile {

    width: 23px;
    height: 23px;
    background-color: grey;
    border-radius: 50%;

  }
  /* end small-sidebar */


  .box-content {

    width: calc(100% - 55px);

  }


  .current-track .saves {

  	line-height: 20px;
  	width: 0;

}


  /* NOTE: da qui in poi inizia
  il compromesso a cui sono
  sceso per ovviare al problema
  dell' eccessiva lunghezza
  del caption di "Stranger Things";
  in realtà nella web app vera
  è impostato un limite massimo
  di caratteri utilizzabili per
  questo tipo di didascalia*/


 .recently-played .container .col-xs-6:nth-child(1n+6) .img-cover {

    padding-top: 25px;

 }


 .recently-played .container .col-sm-6:nth-child(1n+6) .play-button {

   top: 56%;

 }


}


@media all and (min-width: 768px) and (max-width: 992px)  {


  .recently-played .container .col-sm-6:nth-child(1n+6) .img-cover {

    padding-top: 25px;

  }


  .recently-played .container .col-sm-6:nth-child(1n+6) .play-button {

    top: 55%;

  }


}


@media all and (min-width: 992px) and (max-width: 1200px)  {


  .recently-played .container .col-lg-2:nth-child(5n) .thumbnail {    /* NOTE: perche 5n e non 4n? */

    margin-bottom: 55px;

  }


}
