/* START GENERAL RULES */
html {

  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

}


.wrapper {

  background-color: green;
  width: 100%;
  height: 100vh;
  min-height: 170px;

}


li {

  list-style: none;

}


h2, h4, h5 {

  color: white;

}


p {

  color: grey;

}
/* END GENERAL RULES */


/* START MAIN */
main {

  background-color: black;
  width: 100%;
  height: calc(100% - 70px);

}


/* start sidebar */
.sidebar {

  background-color: black;
  width: 225px;
  height: 100%;

  float: left;

  overflow: hidden;

}


.sidebar li {

  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  color: grey;

}


.sidebar .nav:not(.menu) {

  padding-left: 15px;

}


.sidebar .nav.logo {

  height: 70px;
  line-height: 95px;        /* NOTE: perche non 70px?? */
  width: 150px;

}


.sidebar .nav.menu {

  height: 100px;               /* NOTE: riduci altezza */

}


.sidebar .nav.menu li {

  padding-left: 15px;

}


.sidebar .nav.menu li:first-child {

  border-left: 4px solid lightgreen;
  padding-left: 11px;
  color: white;

}


.sidebar .nav.menu img {

  height: 13px;                  /* NOTE: INGRANDIRE !!! */
  /* position: relative;
  top: 2.5px; */

}


.nav.playlists {

  height: calc(100% - 240px);
  min-height: 70px;
  overflow-y: auto;

}


.nav.banner {

  height: 70px;
  margin-right: 15px;

}


.nav.banner p {

  border-bottom: 1px solid grey;
  font-size: 0.8em;
  margin-bottom: 12px;
  padding-bottom: 8px

}
/* end sidebar */


/* start content area */
.box-content {

  background-color: #141922;
  width: calc(100% - 225px);
  height: 100%;

  float: left;

  overflow-y: auto;

  position: relative;

}


.content {

  padding-top: 70px;

}


.header {

  background-color: rgba(0, 0, 0, 0.4);
  width: inherit;
  height: 70px;

  position: fixed;

}


.header button {

  float: right;

  position: relative;

  transform: translate(-5%, -50%);

  top: 50%;

  background: initial;
  padding: 10px 40px;
  border-radius: 20px;

  color: white;
  font-weight: bold;
  font-size: 0.8em;

}


.contents-list {

  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;

}


.contents-list li {

  display: inline;
  color: grey;
  font-size: 0.9em;
  margin-right: 15px;
  position: relative;

}


.contents-list li:first-child:after {

  position: absolute;
  background-color: lightgreen;
  content:"";

  bottom: -4px;
  left: 50%;
  height: 2px;
  width: 40%;

  transform: translateX(-50%);

}
/* end content area */
/* END MAIN */


/* START FOOTER */
footer {

  background-color: pink;
  width: 100%;
  height: 70px;

}
/* END FOOTER */
